In [25]:
# Importing Necessary modules

import sklearn
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score,f1_score
from sklearn.model_selection import train_test_split

In [26]:
column_names='RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type'.split(',')

In [27]:
column_names

['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type']

In [28]:
df=pd.read_csv(r"C:\Users\DELL\Downloads\glass.csv")
df.columns=column_names
df

          RI     Na    Mg    Al     Si     K    Ca    Ba    Fe  Type
0    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.00     1
1    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.00     1
2    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.00     1
3    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.00     1
4    1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00  0.26     1
..       ...    ...   ...   ...    ...   ...   ...   ...   ...   ...
208  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.00     7
209  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.00     7
210  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.00     7
211  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.00     7
212  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.00     7

[213 rows x 10 columns]

Data is already cleaned, so we can directly give it to the model. We can also do preprocessing, to churn out accuracy

In [29]:
x_train,x_test,y_train,y_test=train_test_split(df.drop('Type',axis=1),df["Type"],test_size=0.2)

In [30]:
x_train

          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe
143  1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.00  0.24
84   1.51625  13.36  3.58  1.49  72.72  0.45   8.21  0.00  0.00
103  1.52410  13.83  2.90  1.17  71.15  0.08  10.79  0.00  0.00
87   1.51618  13.01  3.50  1.48  72.89  0.60   8.12  0.00  0.00
39   1.51793  12.79  3.50  1.12  73.03  0.64   8.77  0.00  0.00
..       ...    ...   ...   ...    ...   ...    ...   ...   ...
130  1.52614  13.70  0.00  1.36  71.24  0.19  13.44  0.00  0.10
43   1.51786  12.73  3.43  1.19  72.95  0.62   8.76  0.00  0.30
190  1.51602  14.85  0.00  2.38  73.28  0.00   8.76  0.64  0.09
177  1.51829  14.46  2.24  1.62  72.38  0.00   9.26  0.00  0.00
210  1.52065  14.36  0.00  2.02  73.42  0.00   8.44  1.64  0.00

[170 rows x 9 columns]

In [31]:
x_test.head(10)

          RI     Na    Mg    Al     Si     K     Ca   Ba    Fe
133  1.51811  13.33  3.85  1.25  72.78  0.52   8.12  0.0  0.00
1    1.51618  13.53  3.55  1.54  72.99  0.39   7.78  0.0  0.00
19   1.51750  12.82  3.55  1.49  72.75  0.54   8.52  0.0  0.19
55   1.51215  12.99  3.47  1.12  72.98  0.62   8.35  0.0  0.31
111  1.52777  12.64  0.00  0.67  72.02  0.06  14.40  0.0  0.00
78   1.51590  12.82  3.52  1.90  72.86  0.69   7.97  0.0  0.00
7    1.51918  14.04  3.58  1.37  72.08  0.56   8.30  0.0  0.00
165  1.52151  11.03  1.71  1.56  73.44  0.58  11.62  0.0  0.00
171  1.51321  13.00  0.00  3.02  70.70  6.21   6.93  0.0  0.00
49   1.52320  13.72  3.72  0.51  71.75  0.09  10.06  0.0  0.16

In [32]:
# Extracting the values

x_train=x_train.values
x_test=x_test.values
y_train=y_train.values
y_test=y_test.values

In [33]:
class KNN:
    def __init__(self,k):
        self.k=k
    
    # training the model
    def fit(self,x,y):
        self.x=x
        self.y=y
        
    # implementing eucledian distance
    def distance(self,x,x1):
        c=0
        for i in range(len(x)):
            c+=(x[i]-x1[i])**2
        return c**0.5
    
    # prediction on new values
    def predict(self,x1):
        l=[]
        for i in x1:
            d=[]
            for j in range(len(self.x)):
                p=self.distance(i,self.x[j])
                d.append([p,self.y[j]])
            d.sort(key=lambda p:p[0])
            di={}
            for j in range(self.k):
                di[d[j][1]]=di.get(d[j][1],0)+1
            p=list(di.items())
            p.sort(key=lambda a:a[1],reverse=True)
            l.append(p[0][0])
        return np.array(l)

In [34]:
model=KNN(8)
model.fit(x_train,y_train)

In [35]:
y_pred=model.predict(x_test)

In [36]:
# Accuracy of the custom coded model on the test-set

print('Accuracy is: ',accuracy_score(y_test,y_pred))

Accuracy is:  0.6976744186046512

In [37]:
# F1-Score of the custom coded model on the test-set

print('F1-Score is: ',f1_score(y_test,y_pred,average='weighted'))

F1-Score is:  0.689922480620155